<tr>
  <th scope='row'>1</th>
  <td><a href='#' class='text-danger'><i
        class='ri-delete-bin-3-line'
      ></i></a></td>
  <td><img
      src='https://themesbox.in/admin-templates/olian/html/light-vertical/assets/images/ecommerce/product_01.svg'
      class='img-fluid'
      width='35'
      alt='product'
    /></td>
  <td>{{user_shopping_session.id}}</td>
  <td>
    <div class='form-group mb-0'>
      <input
        type='number'
        class='form-control cart-qty'
        name='cartQty1'
        id='cartQty1'
        value='1'
      />
    </div>
  </td>
  <td>$10</td>
  <td class='text-right'>${{user_shopping_session.total}}</td>
</tr>