 <!-- Header-->
<header class="bg-dark py-5" style="background: url(https://cdn.pixabay.com/photo/2019/05/17/03/50/guitar-4208810_1280.jpg)no-repeat;background-size:cover;background-position:bottom;">
     <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
          <h1 class="display-4 fw-bolder"><strong>{{> companyname}}</strong></h1>
          <p class="lead fw-normal text-white-50 mb-0">Great Selections | Great Price | Greatest Team</p>
          </div>
     </div>
</header>
<!-- Section-->