{{#each inventory as |item|}}
<tr>
  <td class='sorting_1'>{{item.name}}</td>
  <td>${{item.price}}</td>
  <td>{{item.inventory.quantity}}</td>
  <td class="btn btn-danger">DELETE</td>
</tr>
{{/each}}