{{#each inventory as |item|}}
  <tr>
    <td class='sorting_1'>{{item.name}}</td>
    <td>{{item.desc}}</td>
    <td></td>
    <td>${{item.price}}</td>
    <td>{{item.quantity}}</td>
    <td>text</td>
  </tr>
{{/each}}