{{#each inventory as |item|}}
<tr>
  <td class='sorting_1'>{{item.name}}</td>
  <td>${{item.price}}</td>
  <td>{{item.inventory.quantity}}</td>
  <td><a class='btn btn-danger' id='delBtn{{item.id}}' href='/admin/inventory'>DELETE</a> <a class='btn btn-warning'
      id='updateBtn' href='/admin/inventory'>UPDATE</a></td>
</tr>
{{/each}}