<tbody>
    {{#each orders as |order|}}
    <tr class='odd'>
        <td class='sorting_1'>{{order.user_id}}</td>
        <td>{{order.total}}</td>
        <td>{{order.order_items.[0].quantity}}</td>
        <td>{{order.createdAt}}</td>
    </tr>
    {{/each}}
</tbody>