<html lang='en'>

	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, shrink-to-fit=no'
		/>
		<meta name='description' content='' />
		<meta name='author' content='' />

		<title>3JB Guitar - Dashboard</title>

		<!-- Custom fonts for this template-->
		<link
			href='vendor/fontawesome-free/css/all.min.css'
			rel='stylesheet'
			type='text/css'
		/>
		<link
			href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'
			rel='stylesheet'
		/>

		<!-- Custom styles for this template-->
		<link href='css/sb-admin-2.min.css' rel='stylesheet' />

		<!-- Favicon -->
		<link rel='shortcut icon' href='favicon.ico' />

	</head>

	<body>

		{{{body}}}

		<!-- Bootstrap core JavaScript-->
		<script
			src='https://code.jquery.com/jquery-3.6.0.js'
			integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk='
			crossorigin='anonymous'
		></script>
		<script
			src='https://code.jquery.com/jquery-3.6.0.min.js'
			integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
			crossorigin='anonymous'
		></script>
		<link
			rel='stylesheet'
			href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
			integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
			crossorigin='anonymous'
		/>

		<!-- Core plugin JavaScript-->
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js'
			integrity='sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
		></script>

		<!-- Custom scripts for all pages-->
		<script src='js/sb-admin-2.min.js'></script>
		<script src='js/login.js'></script>

		<!-- Page level plugins -->
		<script src='vendor/chart.js/Chart.min.js'></script>

		<!-- Page level custom scripts -->
		<script src='js/demo/chart-area-demo.js'></script>
		<script src='js/demo/chart-pie-demo.js'></script>

	</body>

</html>