<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' />
<div class='container'>
  <div class='contentbar'>
    <!-- Start row -->
    <div class='row'>
      <!-- Start col -->
      <div class='col-md-12 col-lg-12 col-xl-12'>
        <div class='card m-b-30'>
          <div class='card-header'>
            <h5 class='card-title'>Cart for: {{last_name}}</h5>
          </div>
          <div class='card-body'>
            <div class='row justify-content-center'>
              <div class='col-lg-10 col-xl-8'>
                <div class='cart-container'>
                  <div class='cart-head'>
                    <div class='table-responsive'>
                      <table class='table table-borderless'>
                        <thead>
                          <tr>
                            <th scope='col'>#</th>
                            <th scope='col'>Action</th>
                            <th scope='col'>Product</th>
                            <th scope='col'>Qty</th>
                            <th scope='col'>Price</th>
                            <th scope='col' class='text-right'>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{>cartRows}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class='cart-body'>
                    <div class='row'>
                      <div class='col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6'>
                        <div class='order-note'>
                          <form>
                            <div class='form-group'>
                              <label for='specialNotes'>Special Note for this
                                order:</label>
                              <textarea class='form-control' name='specialNotes' id='specialNotes' rows='3'
                                placeholder='Message here'></textarea>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class='col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6'>
                        <div class='order-total table-responsive'>
                          <table class='table table-borderless text-right'>
                            <tbody>
                              <tr>
                                <td class='f-w-7 font-18'>
                                  <h4>Grand Total :</h4>
                                </td>
                                <td class='f-w-7 font-18'>
                                  <h4>${{cart.price}}</h4>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='cart-footer text-right'>
                    <button type='button' class='btn btn-info my-1'><i class='ri-save-line mr-2'></i>Update
                      Cart</button>
                    <a href='page-checkout.html' class='btn btn-success my-1' id='checkout'>Proceed to Checkout<i
                        class='ri-arrow-right-line ml-2'></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->
  </div>
</div>

<script>
  const delete = () => {
    fetch('/api/users/cart', {
      method: 'DELETE',
    });
    window.alert('hello there')
  }
  document.getElementById('checkout').addEventListener('click', delete)
</script>