<div class='container'>
	<h1 class='mt-5'>Create Item</h1>
	<form class='mt-5' id='create-item-form'>
		<div class='form-group'>
			<label for='itemName'>Name</label>
			<input
				type='text'
				class='form-control'
				id='itemName'
				placeholder='Enter item name'
			/>
		</div>
		<div class='form-group'>
			<label for='itemDescription'>Description</label>
			<textarea class='form-control' id='itemDescription' rows='3'></textarea>
		</div>
		<div class='form-group'>
			<label for='itemSKU'>SKU</label>
			<input
				type='text'
				class='form-control'
				id='itemSKU'
				placeholder='Enter item SKU'
			/>
		</div>
		<div class='form-group'>
			<label for='itemCategory'>Category</label>
			<select class='form-control' id='itemCategory'>
				{{#each categorys as |category|}}
					<option>{{category.id}} - {{category.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class='form-group'>
			<label for='itemPrice'>Price</label>
			<input
				type='text'
				class='form-control'
				id='itemPrice'
				placeholder='Enter item price'
			/>
		</div>
		<div class='form-group'>
			<label for='itemImage'>Image URL</label>
			<input
				type='text'
				class='form-control'
				id='itemImage'
				placeholder='Enter image URL'
			/>
		</div>

		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
</div>