<div class='card shadow mb-4'>
  <div class='card-header py-3'>
    <h6 class='m-0 font-weight-bold text-primary'>Inventory</h6>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <div id='dataTable_wrapper' class='dataTables_wrapper dt-bootstrap4'>
        <div class='row'>
          <div class='col-sm-12'>
            <table class='table table-bordered dataTable' id='dataTable' width='100%' cellspacing='0' role='grid'
              aria-describedby='dataTable_info' style='width: 98%;'>
              <thead>
                <tr role='row'>
                  <th class='sorting sorting_asc' tabindex='0' aria-controls='dataTable' rowspan='1' colspan='1'
                    aria-sort='ascending' aria-label='Name: activate to sort column descending' style='width: 207px;'>
                    Name</th>
                  <th class='sorting' tabindex='0' aria-controls='dataTable' rowspan='1' colspan='1'
                    aria-label='Price: activate to sort column ascending' style='width: 72px;'>Price</th>
                  <th class='sorting' tabindex='0' aria-controls='dataTable' rowspan='1' colspan='1'
                    aria-label='Start date: activate to sort column ascending' style='width: 142px;'>Stock</th>
                  <th class='sorting' tabindex='0' aria-controls='dataTable' rowspan='1' colspan='1'
                    aria-label='Delete: activate to sort column ascending' style='width: 128px;'>Delete</th>
                </tr>
              </thead>
              <tbody>{{>items}}</tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>