<!-- Section-->
<div class='container-fluid'>
     <!-- Page Heading -->
     <h1 class='h3 mb-2 text-gray-800'>Active Orders</h1>
     <div class='row'>

          <div class='col-sm-12'>
               <table class='table table-bordered dataTable' id='dataTable' width='100%' cellspacing='0' role='grid'
                    aria-describedby='dataTable_info' style='width: 100%;'>
                    <thead>
                         <tr role='row'>
                              <th class='sorting sorting_asc' tabindex='0' aria-controls='dataTable' rowspan='1'
                                   colspan='1' aria-sort='ascending'
                                   aria-label='Name: activate to sort column descending' style='width: 207px;'>Customer
                                   #
                              </th>
                              <th class='sorting' tabindex='0' aria-controls='dataTable' rowspan='1' colspan='1'
                                   aria-label='Office: activate to sort column ascending' style='width: 150px;'>Total
                                   Sale
                              </th>
                              <th class='sorting' tabindex='0' aria-controls='dataTable' rowspan='1' colspan='1'
                                   aria-label='Age: activate to sort column ascending' style='width: 72px;'>Quantity
                              </th>
                              <th class='sorting' tabindex='0' aria-controls='dataTable' rowspan='1' colspan='1'
                                   aria-label='Salary: activate to sort column ascending' style='width: 128px;'>Order
                                   Date
                              </th>
                         </tr>
                    </thead>
                    {{>orderRows}}
               </table>
          </div>
     </div>
</div>