<!-- Section-->
<div class="container-fluid">
     <!-- Page Heading -->
     <h1 class="h3 mb-2 text-gray-800">Orders</h1>
     <div class="row">
           
          <div class="col-sm-12">
               <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
          <thead>
          <tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 207px;">Name</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 313px;">Position</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px;">Office</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 72px;">Age</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 142px;">Start date</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 128px;">Salary</th></tr>
          </thead>
          <tfoot>
          <tr>
               <th rowspan="1" colspan="1">Name</th>
               <th rowspan="1" colspan="1">Position</th>
               <th rowspan="1" colspan="1">Office</th>
               <th rowspan="1" colspan="1">Age</th>
               <th rowspan="1" colspan="1">Start date</th>
               <th rowspan="1" colspan="1">Salary</th>
          </tr>
          </tfoot>
          <tbody>
          <tr class="odd">
               <td class="sorting_1">Airi Satou</td>
               <td>Accountant</td>
               <td>Tokyo</td>
               <td>33</td>
               <td>2008/11/28</td>
               <td>$162,700</td>
          </tr><tr class="even">
               <td class="sorting_1">Angelica Ramos</td>
               <td>Chief Executive Officer (CEO)</td>
               <td>London</td>
               <td>47</td>
               <td>2009/10/09</td>
               <td>$1,200,000</td>
          </tr></tbody>
     </table>
     </div>


           
         

     </div>
</div>